.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 120s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  overflow: visible; /* This allows the button to escape the navigation bar*/
  position: relative;
  background-color: #1E293B;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 1.1em;
}


/*BUTTON DEFINITIONS:*/
.my-button {
  display: inline-block;
  background-color: #3B82F6;
  color: white;
  text-decoration: none;
  border-radius: 8px 8px 5px 5px;
  padding: 10px 25px;
  margin: 0 15px;
  position: relative;
  transition: transform 0.3s ease, padding 0.3s, margin 0.3s ease;
}

.sub-button {
  margin: 1px;
  padding: 5px;
  border-radius: 8px;
  background-color: #1E40AF
}


/*HOVER FUNCTIONS:*/
.my-button:hover {
  margin: 0px 50px;
  padding: 10px 120px;
  background-color: #1E40AF;
  border-color: #1E293B;
  background-position: right bottom;
}

.sub-button:hover {
  background-color: #1737a1;
}


/*CONTAINER DEFINITIONS:*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  padding: 0px 80px;
  margin: 0px 50px;
  display: none;
  position: absolute;
  left: 0; 
  right: 0;
  top: 90%;
  background-color: #1E40AF;
  z-index: 50;
  border-radius: 0px 0px 10px 10px;
  
}


/*EXTRA:*/
.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
  padding: 5px;
}

.dropdown:hover > .my-button {
  margin: 0px 50px;
  padding: 10px 120px;
  background-color: #1E40AF;
  border-color: #1E293B;
  background-position: right bottom;
}